.header {
    background-color: #29508F;
    width:100%;
    margin-bottom:15px;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-items:center;
    align-items:center;
}

.content {
  width:100%;
  max-width:960px;

}

.wrapper {
    margin-left:auto;
    margin-left:auto;
    max-width:960px;
    width:100%;

}
