.header {
    background-color: #29508F;
    width:100%;
    margin-bottom:15px;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-items:center;
    align-items:center;
}

.content {
  width:100%;
  max-width:960px;

}

.wrapper {
    width:100%;
}
.body {
   width:960px;
   margin-left:auto;
   margin-right:auto;
    
}

.body {
    background-color:yellow;
}

.body1 {
  background-color:blue;
}

.body2 {
  background-color:purple;
}

