body {
    background-color: #FFEA57;
}

.header {
    background-color: #2404DB;
    width:100%;
    margin-bottom:15px;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-items:center;
    color:white;
    align-items:center;
    padding:20px;
    box-sizing: border-box;
}

.content {
  width:100%;
  max-width:960px;
}

.wrapper {
    width:100%;
}
.body {
   width:960px;
   margin-left:auto;
   margin-right:auto;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-wrap:wrap;
   flex-wrap:wrap;
   -webkit-justify-content:space-between;
   justify-content:space-between;
}

.body1 {
  
  padding:20px;
  flex: 1 1 auto;
  flex-basis:300px;


}

.body1 p {
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    background-color:#f2f2f2;
}

.body2 {
  background-color: #f2f2f2;
  margin-left:15px;
  flex: 3 1 auto;
  padding:20px;
}

.testudo-image {
    max-width:100%;
}